In [1]:
import pandas as pd

In [6]:
data = pd.read_csv("../sources/2018_Central_Park_Squirrel_data.csv")

In [13]:
black_count = len(data[data["Primary Fur Color"] == "Black"])
red_count = len(data[data["Primary Fur Color"] == "Cinnamon"])
gray_count = len(data[data["Primary Fur Color"] == "Gray"])
print(black_count)
print(red_count)
gray_count

103
392

2473

In [15]:
dict = {
    "Fur color" : ["Gray", "Black", "Cinnemon"],
    "Count" : [gray_count, black_count, red_count]
        }

df_new = pd.DataFrame(dict)
df_new

  Fur color  Count
0      Gray   2473
1     Black    103
2  Cinnemon    392